h1{
    color:aquamarine;
}
p{
    font-size: 20px;
    font-weight:800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(82, 45, 216);
    width: 50%;
    
}
#country{
    background-color:red;
    font-size: 50px;
}