h1{
    color:rgb(199, 211, 27);
    background-color: rgb(25,144,200);
    font-size: 60px;
    height: 75px;
    text-align: center;
}
p{
    font-size: 20px;
    background-color : rgb(27, 117, 102);
    width : 50%;
    
}
#country{
    background-color:red;
    font-size: 50px;
}
#main{
    display: flex;
    margin-left:20px ;
}
#first,#second,#third{
    background-color: sandybrown;
    padding-left: 60px;


}